<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/new.css">
    <title>Add New Identity</title>
</head>

<body>

    <nav>
        <div class="container_nav">
            <div class="logo">
                <div class="black"></div>
                <div class="white"></div>
            </div>
            <div class="title">Cyber ProX</div>
        </div>
    </nav>

    <h1>Edit Identity</h1>
    <div class="container">
        <form action="/account/<%=account._id%>/edit" method="POST">
            <div class="input_div">
                <label for="cn">Common Name: </label>
                <input type="text" id="cn" name="account[cn]" value="<%=account.cn%>" required>
            </div>
            <div class="input_div">
                <label for="title">Title: </label>
                <input type="text" id="title" name="account[title]" value="<%=account.title%>" required>
            </div>
            <div class="input_div">
                <label for="company">Company: </label>
                <input type="text" id="company" name="account[company]" value="<%=account.company%>" required>
            </div>
            <div class="input_div">
                <label for="location">Location: </label>
                <input type="text" id="location" name="account[location]" value="<%=account.location%>" required>
            </div>
            <button type="submit">Update</button>
        </form>
        
        <button id="cancel"><a href="/">Cancel</a></button>
        <form action="/account/<%=account._id%>?_method=DELETE" method="POST">
            <button style="background-color: red;">Delete</button>
        </form>
    </div>

    <footer>
        <div class="container_footer">
            <h4>NokoDev</h4>
            <h4>@</h4>
            <h4>Cyber ProX / 2022</h4>
        </div>
    </footer>
</body>

</html>